<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Complimaton"
        tools:targetApi="31">
        <activity
            android:name=".screens.QRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".screens.WidgetConfigureActivity"
            android:exported="false"
            android:label="@string/widget_config_activity_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.AddFriendActivity"
            android:exported="false"
            android:label="@string/title_activity_add_friend"
            android:theme="@style/Theme.Complimaton" />
        <activity
            android:name=".screens.ComplimentDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_compliment_detail"
            android:theme="@style/Theme.Complimaton" />
        <activity
            android:name=".screens.FriendsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".screens.welcome.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <service
            android:name=".services.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".widgets.TopComplimentsWidget"
            android:exported="false"
            android:label="Top Compliments Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/top_compliments_widget_info" />
        </receiver>
    </application>

</manifest>